img {
  border: none;
}

/* dock - top */
.dock {
  position: relative;
  height: 50px;
  text-align: center;
  z-index:90;
}
.dock-container {
  position: absolute;
  height: 50px;
  background-image:url(../images/dock_up_c.png);
  padding-left: 20px;
}
a.dock-item {
  display: block;
  width: 40px;
  color: #000;
  position: absolute;
  top: 0px;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
  border: none;
  margin: 5px 10px 0px;
  width: 100%;
}
.dock-item span {
  display: none;
  padding-left: 20px;
}

/* dock2 - bottom */
#dock2 {
  width: 100%;
  bottom: 0px;
  position: absolute;
  left: 0px;
}
.dock-container2 {
  position: absolute;
  height: 50px;
  background: url(images/dock-bg.gif);
  padding-left: 20px;
}
a.dock-item2 {
  display: block;
  font: bold 12px Arial, Helvetica, sans-serif;
  width: 40px;
  color: #000;
  bottom: 0px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}
.dock-item2 span {
  display: none;
  padding-left: 20px;
}
.dock-item2 img {
  border: none;
  margin: 5px 10px 0px;
  width: 100%;
}
