html {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 tahoma, helvetica, clean, sans-serif;
  background: none repeat scroll 0 0 white;
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

.ie7_0 body {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

a {
  color: #45649E;
  font: 12px/1.5 tahoma, helvetica, clean, sans-serif;
}

:link, *:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline-style: none;
}

a#startingChangeEvn {
  display: none;
}

.bottomBarBg {
  background: url("../../assets/images/bg_task_main.png") repeat-x scroll 0 0 transparent;
  bottom: 0;
  height: 130px;
  position: absolute;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.ie6_0 .bottomBarBg {
  background: none repeat scroll 0 50% transparent;
}

.bottomBarBgTask {
  background: url("../../assets/images/bg_task_b.png") repeat-x scroll 0 41px transparent;
  bottom: 0;
  height: 64px;
  position: absolute;
  width: 100%;
}

.ie6_0 .bottomBarBgTask {
  background-color: #000000;
  height: 23px;
  opacity: 20;
}

.bottomBar {
  bottom: 0;
  height: 64px;
  position: absolute;
  right: 0;
}

.taskMenuMask {
  bottom: 47px;
  left: 0;
  opacity: 1;
  position: absolute;
  width: 114px;
  z-index: 99;
}

.taskMenuBox {
  bottom: 47px;
  left: 0;
  position: absolute;
  width: 114px;
  z-index: 100;
}

.taskContainer {
  float: right;
  height: 64px;
  overflow: hidden;
  width: 200px;
}

.ie6_0 .taskContainer {
  position: relative;
}

.ie7_0 .taskContainer {
  position: relative;
}

.taskContainerInner {
  -moz-transition: margin-right 0.5s ease 0s;
  float: right;
  height: 100%;
}

.ie6_0 .taskContainerInner {
  position: absolute;
  right: 0;
}

.ie7_0 .taskContainerInner {
  position: absolute;
  right: 0;
}

.bottomBar .taskGroup {
  -moz-transition: width 0.5s ease 0s;
  float: right;
  height: 100%;
  overflow: hidden;
  width: 0;
}

.bottomBar .taskGroupAnaWidth {
  width: 114px;
}

.bottomBar .taskGroupAnaOpacity {
  -moz-transform-origin: left center;
  -moz-transition: -moz-transform 0.2s ease 0s;
  opacity: 100;
}

.bottomBar .taskGroupAnaScale {
  -moz-transform: scale(1, 1);
}

.taskItem {
  background: url("../../assets/images/bg_task_nor.png") no-repeat scroll 0 0 transparent;
  display: block;
  float: left;
  height: 100%;
  margin: 0 1px;
  vertical-align: middle;
  width: 112px;
}

.ie6_0 .taskItem {
  background: none repeat scroll 0 50% transparent;
}

.bottomBar .taskGroup .taskItem:hover {
  background: url("../../assets/images/bg_task_over.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .bottomBar .taskGroup .taskItem:hover {
  background: none repeat scroll 0 50% transparent;
}

.bottomBar .taskCurrent .taskItem {
  background: url("../../assets/images/bg_task_cur.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .bottomBar .taskCurrent .taskItem {
  background: none repeat scroll 0 50% transparent;
}

.bottomBar .taskJumpUp .taskItem {
  background: url("../../assets/images/bg_task_msg.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .bottomBar .taskJumpUp .taskItem {
  background: none repeat scroll 0 50% transparent;
}

.taskItem div {
  cursor: pointer;
}

.taskItemIcon {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  height: 32px;
  margin: 22px 5px;
  width: 32px;
}

.ie6_0 .taskItemIcon {
  margin: 22px 3px;
}

.taskItemIcon img {
  cursor: pointer;
  float: left;
  height: 32px;
  width: 32px;
}

.taskItem_offline .taskItemIcon img {
  opacity: 0.5;
}

.taskItemTxt {
  color: #FFFFFF;
  cursor: pointer;
  float: left;
  height: 36px;
  line-height: 36px;
  margin-top: 27px;
  overflow: hidden;
  width: 70px;
}

.taskMenuBox .taskItem {
  background: url("../../assets/images/bg_task_group_m.png") no-repeat scroll 0 0 transparent;
  height: 40px;
}

.ie6_0 .taskMenuBox .taskItem {
  background: none repeat scroll 0 50% transparent;
}

.taskMenuBox .taskItem:hover {
  background: url("../../assets/images/bg_task_group_m_over.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .taskMenuBox .taskItem:hover {
  background: none repeat scroll 0 50% transparent;
}

.taskMenuBox .taskItem .taskItemIcon {
  margin: 4px 5px;
}

.ie6_0 .taskMenuBox .taskItem .taskItemIcon {
  margin: 4px 3px;
}

.taskMenuBox .taskItem .taskItemTxt {
  line-height: 40px;
  margin-top: 0;
}

.taskMenuBox .fistTaskItem {
  background: url("../../assets/images/bg_task_group_t.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .taskMenuBox .fistTaskItem {
  background: none repeat scroll 0 50% transparent;
}

.taskMenuBox .fistTaskItem:hover {
  background: url("../../assets/images/bg_task_group_t_over.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .taskMenuBox .fistTaskItem:hover {
  background: none repeat scroll 0 50% transparent;
}

.taskMenuBox .taskItemHight {
  background: url("../../assets/images/bg_task_group_m_msg.png") no-repeat scroll 0 0 transparent;
}

.taskMenuBox .firstTaskItemHight {
  background: url("../../assets/images/bg_task_group_t_msg.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .taskMenuBox .taskItemHight {
  background: none repeat scroll 0 50% transparent;
}

.ie6_0 .taskMenuBox .firstTaskItemHight {
  background: none repeat scroll 0 50% transparent;
}

.taskMenuContentBox {
  height: 100%;
  margin-top: 0;
  overflow: hidden;
  width: 100%;
}

.taskMenuContentInner {
  float: left;
  height: auto;
  width: 100%;
}

.taskMenuContentInnerAnm {
  -moz-transition: margin-top 0.5s ease 0s;
}

.taskMenuUp, .taskMenuDown {
  background-color: #006600;
  display: block;
  float: left;
  height: 20px;
  margin: 0 1px;
  outline: 0 none;
  width: 100%;
}

.taskMenuUp {
  background: url("../../assets/images/taskmenu_up.png") no-repeat scroll 0 0 transparent;
}

.taskMenuDown {
  background: url("../../assets/images/taskmenu_down.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .taskMenuUp {
  background: none repeat scroll 0 50% transparent;
}

.ie6_0 .taskMenuDown {
  background: none repeat scroll 0 50% transparent;
}

.taskMenuUp:hover {
  background: url("../../assets/images/taskmenu_up_over.png") no-repeat scroll 0 0 transparent;
}

.taskMenuDown:hover {
  background: url("../../assets/images/taskmenu_down_over.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .taskMenuUp:hover {
  background: none repeat scroll 0 50% transparent;
}

.ie6_0 .taskMenuDown:hover {
  background: none repeat scroll 0 50% transparent;
}

.taskMenuUpDisable, .taskMenuUpDisable:hover {
  background: url("../../assets/images/taskmenu_up_disable.png") no-repeat scroll 0 0 transparent;
}

.taskMenuDownDisable, .taskMenuDownDisable:hover {
  background: url("../../assets/images/taskmenu_down_disable.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .taskMenuUpDisable, .ie6_0 .taskMenuUpDisable:hover {
  background: none repeat scroll 0 50% transparent;
}

.ie6_0 .taskMenuDownDisable, .ie6_0 .taskMenuDownDisable:hover {
  background: none repeat scroll 0 50% transparent;
}

.taskMenuUpDisable, .taskMenuDownDisable {
  cursor: default;
}

.taskDockMargin {
  float: right;
  height: 100%;
}

.taskNextBox {
  background: url("../../assets/images/bg_task_page_r.png") no-repeat scroll 0 0 transparent;
  display: none;
  float: right;
  height: 100%;
  margin-left: 2px;
  overflow: hidden;
  width: 54px;
}

.taskPreBox {
  background: url("../../assets/images/bg_task_page_l.png") no-repeat scroll 0 0 transparent;
  display: none;
  float: right;
  height: 100%;
  margin-right: 2px;
  overflow: hidden;
  width: 54px;
}

.ie6_0 .taskNextBox {
  background: none repeat scroll 0 50% transparent;
}

.ie6_0 .taskPreBox {
  background: none repeat scroll 0 50% transparent;
}

.taskPre {
  background: url("../../assets/images/bg_task_page.png") no-repeat scroll -15px -50px transparent;
  display: block;
  height: 35px;
  margin-left: 17px;
  margin-top: 20px;
  width: 20px;
}

.ie6_0 .taskPre {
  background: url("../../assets/images/bg_task_page.gif") no-repeat scroll -15px -50px transparent;
  position: relative;
}

.taskPre:hover {
  background-position: -15px -2px;
}

.taskPreDisable, .taskPreDisable:hover, .ie6_0 .taskPreDisable, .ie6_0 .taskPreDisable:hover {
  background-position: -15px -97px;
  cursor: default;
}

.taskNext {
  background: url("../../assets/images/bg_task_page.png") no-repeat scroll -65px -50px transparent;
  display: block;
  height: 35px;
  margin-left: 15px;
  margin-top: 20px;
  width: 45px;
}

.ie6_0 .taskNext {
  background: url("../../assets/images/bg_task_page.gif") no-repeat scroll -65px -50px transparent;
  position: relative;
}

.taskNext:hover {
  background-position: -65px -2px;
}

.taskNextDisable, .taskNextDisable:hover, .ie6_0 .taskNextDisable, .ie6_0 .taskNextDisable:hover {
  background-position: -66px -97px;
  cursor: default;
}

.taskGroupItem .taskItemCount {
  color: #990033;
  display: none;
  float: left;
  height: 36px;
  line-height: 36px;
  margin-top: 28px;
  overflow: hidden;
  text-align: center;
}

.taskGroupItem .taskItemGroupIcon {
  /*background: url("../../assets/images/bg_task_group_icon.png") no-repeat scroll 0 0 transparent;*/
  float: left;
  height: 10px;
  margin: 42px -10px;
  width: 5px;
}

.ie6_0 .taskGroupItem .taskItemGroupIcon {
  background: none repeat scroll 0 50% transparent;
}

.taskGroupItemOpen {
  background: url("../../assets/images/bg_task_group_b.png") no-repeat scroll 0 0 transparent;
  height: 47px;
  margin-top: 17px;
}

.bottomBar .taskGroup .taskGroupItemOpen:hover {
  background: url("../../assets/images/bg_task_group_b_over.png") no-repeat scroll 0 0 transparent;
  height: 47px;
  margin-top: 17px;
}

.bottomBar .taskCurrent .taskGroupItemOpen {
  background: url("../../assets/images/bg_task_group_b_cur.png") no-repeat scroll 0 0 transparent;
}

.taskGroupItemOpen .taskItemIcon {
  margin: 5px 5px 0;
}

.ie6_0 .taskGroupItemOpen .taskItemIcon {
  margin: 5px 3px 0;
}

.taskGroupItemOpen .taskItemCount {
  margin-top: 11px;
}

.taskGroupItemOpen .taskItemTxt {
  margin-top: 10px;
}

.taskGroupItemOpen .taskItemGroupIcon {
  margin-top: 25px;
}

.bottomBar .taskJumpUp .taskGroupItemOpen {
  background: url("../../assets/images/bg_task_group_b_msg.png") no-repeat scroll 0 0 transparent;
}

.ie6_0 .taskGroupItemOpen {
  background: none repeat scroll 0 50% transparent;
}

.ie6_0 .bottomBar .taskJumpUp .taskGroupItemOpen {
  background: none repeat scroll 0 50% transparent;
}

.taskItemIconState {
  background: url("../../assets/images/bg_task_eqq.gif") no-repeat scroll 0 0 transparent;
  display: none;
  float: left;
  height: 15px;
  margin: 20px 0 0 -15px;
  overflow: hidden;
  text-indent: -999em;
  width: 15px;
}

.ie6_0 .taskItemIconState {
  background: url("../../assets/images/bg_task_eqq.gif") no-repeat scroll 0 0 transparent;
}

.taskItem_callme .taskItemIconState {
  background-position: -67px 3px;
  display: inline;
}

.taskItem_online .taskItemIconState {
  background-position: 1px 3px;
}

.taskItem_away .taskItemIconState {
  background-position: -13px 3px;
  display: inline;
}

.taskItem_busy .taskItemIconState {
  background-position: -31px 3px;
  display: inline;
}

.taskItem_silent .taskItemIconState {
  background-position: -103px 3px;
  display: inline;
}

.taskItem_hidden .taskItemIconState {
  background-position: -49px 3px;
  display: inline;
}

.taskItem_offline .taskItemIconState {
  background-position: -86px 3px;
}

.dock_container {
  height: 576px;
  left: 0;
  margin: -290px 0 0;
  position: absolute;
  top: 50%;
  width: 73px;
}

.dock_drap_effect {
  border: 3px solid #3C9DFF;
  display: none;
  z-index: 4000000;
}

.dock_drap_effect :hover {
  border-color: #E1F0FD;
}

.dock_drap_effect_left {
  height: 568px;
  left: -3px;
  margin: -288px 0 0;
  position: absolute;
  top: 50%;
  width: 65px;
}

.dock_drap_effect_top {
  height: 65px;
  left: 50%;
  margin: 0 0 0 -288px;
  position: absolute;
  top: -3px;
  width: 568px;
}

.dock_drap_effect_right {
  height: 568px;
  margin: -288px 0 0;
  position: absolute;
  right: -3px;
  top: 50%;
  width: 65px;
}

.dock_drap_effect_left:hover {
  border-color: #E1F0FD;
}

.dock_drap_effect_right:hover {
  border-color: #E1F0FD;
}

.dock_drap_effect_top:hover {
  border-color: #E1F0FD;
}

.dock_drap_proxy {
  background: none repeat scroll 0 0 transparent;
  display: none;
  height: 1px;
  position: absolute;
  width: 1px;
}

.dock_drap_mask {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300000;
}

.dock_drop_region_top {
  border-bottom: 1px dashed #333333;
  height: 20%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.dock_drop_region_left {
  border-right: 1px dashed #333333;
  bottom: 0;
  height: 80%;
  left: 0;
  position: absolute;
  width: 50%;
}

.dock_drop_region_right {
  bottom: 0;
  height: 80%;
  position: absolute;
  right: 0;
  width: 50%;
}

.dock_item_list {
  float: left;
  height: 380px;
  width: 65px;
}

.dock_tool_list {
  bottom: 5px;
  height: 115px;
  position: absolute;
  width: 65px;
}

.dock_tool_item {
  height: 31px;
  margin: 0 auto;
  width: 50px;
}

.dock_tool_item2 {
  height: 50px;
  margin: 0 auto;
}

.dock_tool_icon {
  background: url("../images/portal_all_png.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  float: left;
  height: 20px;
  margin: 5px 0;
  position: relative;
  width: 20px;
}

.dock_tool_pinyin {
  background-position: -80px 0;
}

.dock_tool_pinyin:hover {
  background-position: -80px -20px;
}

.dock_tool_sound {
  background-position: 0 0;
  margin-left: 10px;
}

.dock_tool_sound:hover {
  background-position: 0 -20px;
}

.dock_tool_sound_mute {
  background-position: -20px 0;
}

.dock_tool_sound_mute:hover {
  background-position: -20px -20px;
}

.dock_tool_setting {
  background-position: -60px 0;
}

.dock_tool_setting:hover {
  background-position: -60px -20px;
}

.dock_tool_theme {
  background-position: -40px 0;
  margin-left: 10px;
}

.dock_tool_theme:hover {
  background-position: -40px -20px;
}

.dock_tool_start {
  background-position: -100px 0;
  float: none;
  height: 40px;
  margin: 5px auto 0;
  width: 40px;
}

.dock_tool_start:hover {
  background-position: -140px 0;
}

.dock_menu_select_left .dock_menu_item_left, .dock_menu_select_top .dock_menu_item_top, .dock_menu_select_right .dock_menu_item_right {
  background: url("../images/portal_all_png.png") no-repeat scroll -100px -460px transparent;
}

.ie6_0 .dock_menu_select_left .dock_menu_item_left, .ie6_0 .dock_menu_select_top .dock_menu_item_top, .ie6_0 .dock_menu_select_right .dock_menu_item_right {
  background: url("../images/portal_all_gif.gif") no-repeat scroll -100px -460px transparent;
}

.dock_top {
  height: 10px;
}

.dock_middle {
  height: 566px;
  padding-top: 10px;
}

.dock_bottom {
  height: 10px;
}

.dock_pos_left .dock_middle {
  background: url("../images/dock_l.png") no-repeat scroll 0 0 transparent;
}

.dock_pos_left .dock_tool_list {
  left: 0;
}

.dock_pos_right .dock_middle {
  background: url("../images/dock_r.png") no-repeat scroll 0 0 transparent;
  overflow: hidden;
  padding-left: 5px;
}

.ie6_0 .dock_pos_right .dock_middle {
  padding-left: 3px;
}

.dock_pos_right .dock_tool_list {
  left: 7px;
}

.dock_pos_right .appButton {
  margin-left: 6px !important;
}

.dock_pos_top {
  height: 79px;
  left: 50%;
  margin: 0 0 0 -290px;
  top: 0;
  width: 576px;
}

.dock_pos_top .dock_top, .dock_pos_top .dock_bottom {
  height: 100%;
  position: absolute;
  top: 0;
  width: 15px;
}

.dock_pos_top .dock_top {
  left: 0;
  width: 10px;
}

.dock_pos_top .dock_middle {
  background: url("../images/dock_up.png") no-repeat scroll 0 0 transparent;
  height: 69px;
  padding-left: 10px;
  padding-top: 0;
  width: 566px;
}

.dock_pos_top .dock_bottom {
  right: 0;
  width: 0;
}

.dock_pos_top .dock_item_list {
  height: 60px;
  width: 385px;
}

.dock_pos_top .dock_tool_list {
  height: 60px;
  position: absolute;
  right: 4px;
  top: 3px;
  width: 115px;
}

.ie6_0 .dock_pos_top .dock_tool_list {
  width: 119px;
}

.dock_pos_top .dock_tool_item {
  float: left;
  height: 60px;
  margin: 0 5px;
  width: 22px;
}

.dock_pos_top .dock_tool_sound, .dock_pos_top .dock_tool_theme {
  margin-left: 0;
}

.dock_pos_top .dock_tool_item2 {
  float: left;
  height: 60px;
  width: 50px;
}

.dock_pos_top .dock_tool_start {
  margin-top: 10px;
}

.dock_pos_top .appButton {
  margin: 4px 2px !important;
}

.appMarket {
  float: left;
}

.ie6_0 .dock_pos_left .dock_middle {
  background: none repeat scroll 0 50% transparent;
}

.ie6_0 .dock_pos_right .dock_middle {
  background: none repeat scroll 0 50% transparent;
}

.ie6_0 .dock_pos_top .dock_middle {
  background: none repeat scroll 0 50% transparent;
}

.appListContainer {
}

.appListContainer .appButton {
  position: absolute;
}

.appListContainer .appButton_appIcon {
  margin-top: 6px;
}

.appListContainer .appButton_appName {
  overflow: visible;
}

.appButton_appName_inner_right {
  display: none;
}

.appListContainer .appButton_appName_inner {
  background: url("../images/portal_all_png.png") no-repeat scroll -80px -560px transparent;
  display: inline-block;
  height: 20px;
  line-height: 18px;
  /*: 0 -4px 0 0;*/
  max-width: 78px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: 10px;
  vertical-align: middle;
  width: auto;
}

.appListContainer .appButton_appName_inner_right {
  background: url("../images/portal_all_png.png") no-repeat scroll -166px -560px transparent;
  display: inline-block;
  height: 20px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 10px;
}

.ie .appListContainer .appButton_appName_inner {
  line-height: 20px;
}

.ie7_0 .appListContainer .appButton_appName_inner {
  float: left;
  width: 68px;
  margin-left: 5px;
}

.ie7_0 .appListContainer .appButton_appName_inner_right {
  float: left;
}

.ie6_0 .appListContainer .appButton_appName_inner {
  display: block;
  margin: 0 5px;
  text-indent: 0;
}

.ie6_0 .appListContainer .appButton_appName_inner_right {
  display: none;
}

.appListContainer .modify_name {
  padding-left: 10px;
  text-indent: 0;
  width: 68px;
}

.ie7_0 .appListContainer .modify_name {
  margin-left: 0;
  width: 68px;
}

.ie6_0 .appListContainer .modify_name {
  padding-left: 0;
  width: auto;
}

.appListContainer .scrollBar {
  background: none repeat scroll 0 0 #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  height: 20px;
  position: absolute;
  right: 3px;
  top: 0;
  width: 10px;
}

.appListContainer .scrollBar_bg {
  border: 0 none;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
}

.appListContainer .scrollBar_bg_t {
  background: url("../images/scrollbar_bg.gif") no-repeat scroll 0 0 transparent;
  height: 5px;
  overflow: hidden;
  top: -5px;
  width: 10px;
}

.appListContainer .scrollBar_bg_b {
  background: url("../images/scrollbar_bg.gif") no-repeat scroll 0 -5px transparent;
  bottom: -5px;
  height: 5px;
  overflow: hidden;
  width: 10px;
}

.documentMode_9 .scrollBar_bg, .documentMode_9 .scrollBar_bg_t, .documentMode_9 .scrollBar_bg_b {
  display: none;
}

.appButton_appIcon {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 48px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 48px;
}

.appButton_appIcon_warp {
  background-image: url("../images/iconbg_4.png");
}

.ie6_0 .appButton_appIcon_warp {
  background: none repeat scroll 0 50% transparent;
}

.appButton_appIconImg {
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.appButtonIpadincompatible {
  opacity: 0.3;
}

.appButton_smallIcon {
  height: 16px;
  margin: 16px;
  width: 16px;
}

.appButton_stateIcon {
  bottom: -6px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: -2px;
  width: 12px;
}

.appButton_contactIcon, .appButton_contactIcon .appButton_appIconImg {
  border-radius: 5px 5px 5px 5px;
}

.appButton_loadingIcon {
  background: url("../images/ico_loading2.gif") no-repeat scroll 0 0 transparent;
  height: 16px;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 16px;
}

.appButton_appName {
  color: white;
  cursor: pointer;
  height: 20px;
  margin: 8px 0 0 0;
  overflow: hidden;
  text-align: center;
}

.ie .appButton_appName {
  line-height: 20px;
  margin-top: 7px;
}

.appButton_appName_inner {
  margin: auto;
  overflow: hidden;
  width: 50px;
  -webkit-user-select: none;
  word-break: break-all;
  display: inline-block;
}

.appButton_appName_longfix {
  display: block;
  text-align: left;
  width: 1000px;
}

.appButton_delete {
  background: url("../images/portal_all_png.png") no-repeat scroll 0 -560px transparent;
  cursor: pointer;
  display: none;
  font-size: 0;
  height: 20px;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 20px;
  z-index: 10;
}

.ie6_0 .appButton_delete {
  background-image: url("../images/portal_all_gif.gif");
}

.appListContainer .appButton_delete, .dock_container .appButton_delete {
  background-position: -30px -560px;
  height: 24px;
  right: -10px;
  top: -10px;
  width: 24px;
}

.appButton_notify {
  background: url("../images/portal_all_png.png") no-repeat scroll 10000px 0 transparent;
  cursor: pointer;
  display: none;
  font-size: 11px;
  height: 12px;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -5px;
}

.ie6_0 .appButton_notify {
  background-image: url("../images/portal_all_gif.gif");
}

.appButton_notify_1 {
  background-position: -60px -290px;
  width: 16px;
}

.appButton_notify_2 {
  background-position: -90px -290px;
  width: 20px;
}

.appButton_notify_3 {
  background-position: -120px -290px;
  width: 24px;
}

.appListContainer .appButton_notify, .dock_container .appButton_notify {
  right: 15px;
  top: 2px;
}

.dock_container .appButton_notify {
  right: 0;
}

.appListContainer .appButton_notify .appButton_notify_inner, .dock_container .appButton_notify .appButton_notify_inner {
  display: block;
}

.appButton:hover, .appButtonEditState .appButton, .appButtonEditState .addQuickLinkButton:hover {
  background: url("../images/appbutton_mouseover_bg3.png") no-repeat scroll 1px 0 transparent;
}

.dock_container .appButton:hover, .dock_container .appButtonEditState .appButton, .aMg_dock_container .appButton:hover {
  background: url("../images/appbutton_mouseover_bg4.png") no-repeat scroll center center transparent;
}

.dock_container .appButton {
  height: 58px;
  margin: 2px 3px 2px 4px;
  padding: 0;
  width: 58px;
}

.dock_container .appButton_appName {
  display: none;
}

.dock_container .appButton_appIcon, .aMg_dock_container .appButton_appIcon {
  margin: 5px auto 0;
}

.appButtonEditState .not_deleteable {
  background: none repeat scroll 0 0 transparent !important;
}

.appButtonEditState .not_deleteable:hover {
  background: none repeat scroll 0 0 transparent !important;
}

.ie6_0 .appButtonEditState .appButton {
  background: none repeat scroll 0 0 #BABABA;
}

.appButtonEditState .appButton_delete {
  display: block;
}

.appButtonEditState .not_deleteable .appButton_delete {
  display: none;
}

.appButtonEditState .appButton_notify {
  display: none !important;
}

.appButtonHover {
  background: none repeat scroll 0 0 #BABABA;
}

/*-----------------------------*/

/*窗口*/
.window-container {
  position: absolute;
  padding: 2px;
  overflow: hidden;
  border-radius: 3px;
  background: #656672;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4)
}

.window-current {
  background: #363740;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6)
}

.title-bar {
  background-color: #EBEBEB;
  border: 1px solid #ccc;
  position: relative;
  z-index: 10;
  height: 26px;
  padding: 0 20px;
  line-height: 26px;
  overflow: hidden;
  color: #393836;
  font-weight: bold;
  border-bottom: 1px solid #CCC;
  cursor: move;
  border-radius: 3px 3px 0 0;
}

.window-current .title-bar {
  background-position: 0 -31px
}

.title-handle {
  overflow: hidden;
  position: absolute;
  right: 5px;
  top: 4px;
}

.title-handle a {
  float: left;
  width: 19px;
  height: 21px;
  margin-left: 5px;
  line-height: 10;
  overflow: hidden;
  background-image: url(../images/sprite_main_png.png);
  background-repeat: no-repeat
}

.ha-min {
  background-position: -5px -58px
}

.ha-min:hover {
  background-position: -5px -30px;
}

.ha-max {
  background-position: -34px -59px
}

.ha-max:hover {
  background-position: -34px -30px
}

.ha-revert {
  background-position: -94px -59px
}

.ha-revert:hover {
  background-position: -94px -30px
}

.ha-close {
  background-position: -64px -59px
}

.ha-close:hover {
  background-position: -64px -30px
}

.window-frame {
  position: absolute;
  top: 30px;
  right: 2px;
  bottom: 32px;
  *bottom: 29px;
  left: 2px;
  background: #FFF
}

.window-frame iframe {
  position: absolute;
  border: 0;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.set-bar {
  _width: 100%;
  position: absolute;
  background: #E8E8E8;
  border-top: 1px solid #b9b9b9;
  bottom: 0;
  height: 30px;
  left: 2px;
  right: 2px;
  bottom: 2px
}

.set-bar .btn {
  margin-top: 3px;
  margin-right: 5px;
  border: 1px solid #E8E8E8;
  border-radius: 3px 3px 3px 3px;
  color: #7D7D7D;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  padding: 1px;
  position: relative
}

.set-bar .btn:hover {
  border: 1px solid #7D7D7D;
  background: #fff;
  color: #333;
  text-decoration: none
}

.set-bar .btn .icon {
  left: 8px;
  position: absolute;
  top: 3px
}

.set-bar .btn .btn-con {
  height: 20px;
  line-height: 21px;
  overflow: hidden;
  padding: 0 8px;
}

.loading-box {
  position: inherit;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0
}

.app-grid {
  display: block;
  margin-left: 20px;
  margin-right: auto;
  height: 100%;
}

.app-grid ul li,
.app-grid ul li span {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none
}

.app-grid ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute
}

.app-grid ul li {
  width: 90px;
  height: 78px;
  padding: 10px 0;
  text-align: center;
  /*position: absolute;*/
  cursor: pointer;
  list-style: none outside none;
  margin-right: 50px;
  margin-bottom: 10px;
  float: left;
  display: block;
}

.app-grid ul li img {
  border-radius: 3px 3px 3px 3px;
  display: block;
  height: 48px;
  width: 48px;
  margin: auto
}

.app-grid ul li span {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
  filter: none;
  color: #fff;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
  overflow: hidden;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}

.app-grid ul li em {
  display: block;
  /*position: inherit;*/
  float: left;
  top: 0;
  left: 0;
  z-index: 0;
  width: 86px;
  height: 86px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  /*opacity: 0.12;*/
  filter: alpha(opacity=12)
}

.app-grid ul li:hover em,
.app-grid ul li.hover em {
  /*display: block*/
}

.app-grid ul li:hover {
  background: #ccc;
  border-radius: 10px;
  opacity: 0.9;
}

.app-grid ul li.focus em {
  display: block;
  opacity: 0.25;
  filter: alpha(opacity=25)
}
